In [2]:
# Write a Python program to create and display a onedimensional array-like object containing an array of data using Pandas module.

import pandas as pd
a = pd.Series([5,6,7,8,9,10])
print(a)

0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64

In [3]:
# Write a Python program to convert a Panda module Series to Python list and its type.

import pandas as pd
a = pd.Series([2, 4, 6, 8, 10])
print(type(a))
print(a.tolist())
print(type(a.tolist()))

<class 'pandas.core.series.Series'>
[2, 4, 6, 8, 10]
<class 'list'>

In [3]:
# Write a Python program to add, subtract, multiple and divide two Pandas Series.

import pandas as pd
a = pd.Series([2, 4, 6, 8, 10])
b = pd.Series([1, 3, 5, 7, 9])
add = a + b
print(add)
sub = a - b
print(sub)
div = a * b
print(div)
mul = a / b
print(mul)

0     3
1     7
2    11
3    15
4    19
dtype: int64
0    1
1    1
2    1
3    1
4    1
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [4]:
# Write a Python program to compare the elements of the two Pandas Series.

import pandas as pd
a = pd.Series([1,2,3,4,5])
b = pd.Series([2,3,4,5,6])
print(a == b)
print(a < b)
print(a > b)

0    False
1    False
2    False
3    False
4    False
dtype: bool
0    True
1    True
2    True
3    True
4    True
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [ ]:
# Write a Python program to display the following data column wise.

In [ ]:
# Write a Python program to create and display a Data Frame from a specified dictionary data which has the index labels.

In [ ]:
# Write a Python program to select the specified columns and rows from a given Data Frame.

In [ ]:
# Write a Python program to select the rows the score is between 15 and 20 (inclusive).

In [ ]:
# Write a Python program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.

In [ ]:
# Write a Python program to append a new row 'k' to Data Frame with given values for each column. Now delete the new row and return the original data frame.

In [ ]:
# Write a Python program to sort the data frame first by 'name' in descending order, then by 'score' in ascending order.

In [ ]:
# Write a Python program to insert a new column in existing Data Frame.

In [ ]:
# Write a Python program to change the name 'James' to 'Suresh' in name column of the data frame.