In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [2]:
%pip install pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/b1/69/fcc29820befae2b96fd0b01225577af653e87cd0914634bb2d372a457bd7/pandas-0.25.1-cp37-cp37m-win_amd64.whl (9.2MB)
Requirement already satisfied: numpy>=1.13.3 in c:\users\rahul\anaconda3\lib\site-packages (from pandas) (1.17.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\rahul\anaconda3\lib\site-packages (from pandas) (2019.2)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\rahul\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in c:\users\rahul\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Installing collected packages: pandas
Successfully installed pandas-0.25.1
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd
import numpy as np

In [9]:
s = pd.Series(np.arange(10,15), index = list('abcde'), dtype = 'float32')
print(s)
print(s.dtype)
print(s.itemsize)
print(s.size)
print(s.shape)

a    10.0
b    11.0
c    12.0
d    13.0
e    14.0
dtype: float32
float32
4
5
(5,)

C:\Users\rahul\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Series.itemsize is deprecated and will be removed in a future version
  after removing the cwd from sys.path.

In [6]:
print(dir(s))

['T', '_AXIS_ALIASES', '_AXIS_IALIASES', '_AXIS_LEN', '_AXIS_NAMES', '_AXIS_NUMBERS', '_AXIS_ORDERS', '_AXIS_REVERSED', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__array__', '__array_priority__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__div__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__long__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdiv__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_add_numeric_operations', '_add_series_only_operations', '_add_series_or_dataframe_operations', '_agg_by_level', '_agg_examples_doc', '_agg_see_also_doc', '_aggregate', '_aggregate_multiple_funcs', '_align_frame', '_align_series', '_binop', '_box_item_values', '_builtin_table', '_can_hold_na', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_percentile', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_dict_from', '_construct_axes_from_arguments', '_constructor', '_constructor_expanddim', '_constructor_sliced', '_convert', '_create_indexer', '_cython_table', '_data', '_deprecations', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_find_valid_index', '_formatting_values', '_from_axes', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_space_character_free_column_resolvers', '_get_value', '_get_values', '_get_values_tuple', '_get_with', '_gotitem', '_iget_item_cache', '_index', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_dict', '_init_mgr', '_internal_get_values', '_internal_names', '_internal_names_set', '_is_builtin_func', '_is_cached', '_is_copy', '_is_cython_func', '_is_datelike_mixed_type', '_is_homogeneous_type', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_numeric_mixed_type', '_is_view', '_ix', '_ixs', '_map_values', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_ndarray_values', '_needs_reindex_multi', '_obj_with_exclusions', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_selected_obj', '_selection', '_selection_list', '_selection_name', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_is_copy', '_set_item', '_set_labels', '_set_name', '_set_subtyp', '_set_value', '_set_values', '_set_with', '_set_with_engine', '_setup_axes', '_shallow_copy', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_to_dict_of_blocks', '_try_aggregate_string_function', '_typ', '_unpickle_series_compat', '_update_inplace', '_validate_dtype', '_values', '_where', '_xs', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'as_matrix', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'autocorr', 'axes', 'base', 'between', 'between_time', 'bfill', 'bool', 'clip', 'clip_lower', 'clip_upper', 'combine', 'combine_first', 'compound', 'compress', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'data', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'from_array', 'ftype', 'ftypes', 'ge', 'get', 'get_dtype_counts', 'get_ftype_counts', 'get_values', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'imag', 'index', 'infer_objects', 'interpolate', 'is_monotonic', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'itemsize', 'iteritems', 'ix', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'mad', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'nonzero', 'notna', 'notnull', 'nsmallest', 'nunique', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'ptp', 'put', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'real', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'squeeze', 'std', 'strides', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dense', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_msgpack', 'to_numpy', 'to_period', 'to_pickle', 'to_sparse', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tshift', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

In [12]:
s = pd.Series(np.arange(10,15), index = list('abcde'), dtype = 'float32')
print()

In [13]:
df = pd.read_csv('titanic_dataset.csv')
print(type(df))
print(df.head())

<class 'pandas.core.frame.DataFrame'>
   Unnamed: 0  pclass  survived  \
0           0       1         1
1           1       1         1
2           2       1         0
3           3       1         0
4           4       1         0

                                              name  gender      age  sibsp  \
0                    Allen, Miss. Elisabeth Walton  female  29.0000      0
1                   Allison, Master. Hudson Trevor    male   0.9167      1
2                     Allison, Miss. Helen Loraine  female   2.0000      1
3             Allison, Mr. Hudson Joshua Creighton    male  30.0000      1
4  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.0000      1

   parch  ticket      fare    cabin embarked boat   body  \
0      0   24160  $211.34        B5        S    2    NaN
1      2  113781  $151.55   C22 C26        S   11    NaN
2      2  113781  $151.55   C22 C26        S  NaN    NaN
3      2  113781  $151.55   C22 C26        S  NaN  135.0
4      2  113781  $151.55   C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON

In [14]:
df = pd.read_csv(r'D:\sec_sys\Pandas\titanic_dataset.csv')
print(type(df))
print(df.head())

<class 'pandas.core.frame.DataFrame'>
   Unnamed: 0  pclass  survived  \
0           0       1         1
1           1       1         1
2           2       1         0
3           3       1         0
4           4       1         0

                                              name  gender      age  sibsp  \
0                    Allen, Miss. Elisabeth Walton  female  29.0000      0
1                   Allison, Master. Hudson Trevor    male   0.9167      1
2                     Allison, Miss. Helen Loraine  female   2.0000      1
3             Allison, Mr. Hudson Joshua Creighton    male  30.0000      1
4  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.0000      1

   parch  ticket      fare    cabin embarked boat   body  \
0      0   24160  $211.34        B5        S    2    NaN
1      2  113781  $151.55   C22 C26        S   11    NaN
2      2  113781  $151.55   C22 C26        S  NaN    NaN
3      2  113781  $151.55   C22 C26        S  NaN  135.0
4      2  113781  $151.55   C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON

In [19]:
df = pd.DataFrame(np.random.randint(100,150,40).reshape(10,4), columns = ['aa','bb','cc','dd'])
print(df)
print()
print(df.head(2))
print()
print(df.tail(3))
print(df.dtypes)
print(df.index)
print(df.columns)
print()

    aa   bb   cc   dd
0  106  103  126  120
1  148  119  149  142
2  116  120  120  130
3  144  137  146  147
4  109  108  118  122
5  105  114  109  102
6  130  119  144  115
7  133  124  129  114
8  126  116  145  100
9  147  122  102  130

    aa   bb   cc   dd
0  106  103  126  120
1  148  119  149  142

    aa   bb   cc   dd
7  133  124  129  114
8  126  116  145  100
9  147  122  102  130
aa    int32
bb    int32
cc    int32
dd    int32
dtype: object
RangeIndex(start=0, stop=10, step=1)
Index(['aa', 'bb', 'cc', 'dd'], dtype='object')

In [23]:
df = pd.read_csv('titanic_dataset.csv')
print(df.dtypes)
print()
print(df.describe(include = 'all'))
print()

Unnamed: 0      int64
pclass          int64
survived        int64
name           object
gender         object
age           float64
sibsp           int64
parch           int64
ticket         object
fare           object
cabin          object
embarked       object
boat           object
body          float64
home.dest      object
dtype: object

         Unnamed: 0       pclass     survived                  name gender  \
count   1309.000000  1309.000000  1309.000000                  1309   1309
unique          NaN          NaN          NaN                  1307      2
top             NaN          NaN          NaN  Connolly, Miss. Kate   male
freq            NaN          NaN          NaN                     2    843
mean     654.000000     2.294882     0.381971                   NaN    NaN
std      378.020061     0.837836     0.486055                   NaN    NaN
min        0.000000     1.000000     0.000000                   NaN    NaN
25%      327.000000     2.000000     0.000000                   NaN    NaN
50%      654.000000     3.000000     0.000000                   NaN    NaN
75%      981.000000     3.000000     1.000000                   NaN    NaN
max     1308.000000     3.000000     1.000000                   NaN    NaN

                age        sibsp        parch    ticket    fare        cabin  \
count   1046.000000  1309.000000  1309.000000      1309    1308          295
unique          NaN          NaN          NaN       929     263          186
top             NaN          NaN          NaN  CA. 2343  $8.05   C23 C25 C27
freq            NaN          NaN          NaN        11      60            6
mean      29.881135     0.498854     0.385027       NaN     NaN          NaN
std       14.413500     1.041658     0.865560       NaN     NaN          NaN
min        0.166700     0.000000     0.000000       NaN     NaN          NaN
25%       21.000000     0.000000     0.000000       NaN     NaN          NaN
50%       28.000000     0.000000     0.000000       NaN     NaN          NaN
75%       39.000000     1.000000     0.000000       NaN     NaN          NaN
max       80.000000     8.000000     9.000000       NaN     NaN          NaN

       embarked boat        body     home.dest
count      1307  486  121.000000           745
unique        3   27         NaN           369
top           S   13         NaN  New York, NY
freq        914   39         NaN            64
mean        NaN  NaN  160.809917           NaN
std         NaN  NaN   97.696922           NaN
min         NaN  NaN    1.000000           NaN
25%         NaN  NaN   72.000000           NaN
50%         NaN  NaN  155.000000           NaN
75%         NaN  NaN  256.000000           NaN
max         NaN  NaN  328.000000           NaN

In [33]:
df2 = pd.DataFrame()
df2['A'] = np.random.randint(100,200,20)
df2['B'] = pd.Series(np.arange(1,21))
df2['C'] = [chr(x) for x in range(65, 85)]
print(df2)

      A   B  C
0   165   1  A
1   134   2  B
2   145   3  C
3   154   4  D
4   198   5  E
5   164   6  F
6   198   7  G
7   146   8  H
8   154   9  I
9   158  10  J
10  169  11  K
11  107  12  L
12  116  13  M
13  191  14  N
14  126  15  O
15  105  16  P
16  181  17  Q
17  145  18  R
18  143  19  S
19  130  20  T